/* All pages */

body{
    background-color: #2F4F4F;
}

.box {
    height: 50vw;
    width: 50vw;
}

.card-title{
    border: 1px solid black;
}

.container{
    background-color: #2F4F4F;
    margin-top: 2rem;
}

.row{
    margin-left: 0;
    margin-right: 0;
}


/* User Registration Pages */
.registration{
    background-color: #fff;
    border: 2px solid #f3f3f3;
    border-radius: 15px;
    box-shadow: 10px 10px 15px 0px rgba(107,101,107,1);
    margin-top: 50px;
    width: 50vw;
    -moz-box-shadow: 10px 10px 15px 0px rgba(107,101,107,1);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(107,101,107,1);
}

/* Buttons */

.buttons{
    text-align: right;
}

.buttons .btn {
    margin: 0.25rem;
}

.button-cancel a{ 
    color: #fff;
    text-decoration: none;
}

/* Confirmation screens */

.del-conf{
    margin:15rem;
}

.return-button{ 
    padding: 20px;
}

/* Headings */
h1{
    font-size: 18px;
}

h2{
    color: black;
    font-size: 16px;
}

h3{
    font-size: 15px;
}

/* Inputs */
.input-group-text{
    color: black;
    width: 190px;
}

/* Register Page */
.button-register a {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    margin: 0.02rem;
    text-decoration: none;
    width: 11rem;
}

/* Images */

.img-trash{
    display: block;
    height: 25%;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.img-ok{
    display: block;
    height: 45%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.img-welcome{
    display: block;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Login Page */

.screen-login{
    background-color: white;
    border: 2px solid #f3f3f3;
    border-radius: 15px;
    box-shadow: 1 0px 10px 15px 0px rgba(107,101,107,1);
    height: 35vw;
    margin-top: 50px;
    width: 30vw;
    -moz-box-shadow: 10px 10px 15px 0px rgba(107,101,107,1);
    -webkit-box-shadow: 10px 10px 15px 0px rgba(107,101,107,1);
}

@media (max-width:600px) {
    .screen-login {
        height: 100vw;
        width: 80vw;
    }

    .registration{
        width: 100%;
     }
}

@media (min-width:601px) and (max-width:800px) {
    .screen-login {  
        height: 50vw;
        width: 35vw;
    }
}